// Component:       Grid
// Description:     Provides a responsive, fluid and nestable grid system
//
// Blocks:          'row'
//                  'col-xs*'
//                  'col-sm*'
//                  'col-md*'
//                  'col-lg*'
//
// Modifiers:       'col-xsOffset*'
//                  'col-smOffset*'
//                  'col-mdOffset*'
//                  'col-lgOffset*'
//
// Markup:
//
// <!-- grid -->
// <div class="row">
//     <div class="col-xs*"></div>
//     <div class="col-sm*-smOffset*"></div>
// </div>
//
// ========================================================================

/* ====================================
   GRID
   ==================================== */

// Rows contain and clear the floats of your columns.
.row {
  width: 100%;
  *zoom: 1;
  .clearfix;
}

// Basic styles for columns
.col {
  min-height: @font-line-height;
  float: left;
  width: 100%;
  display: block;
  margin: 0;
  .clearfix;

  // Columns & offsets for all screens
  .make-columns(@suffix: ~"xs");
  .make-offset(@suffix: ~"xs");

  // Columns & offsets from small screen (tablets and wider)
  @media (min-width: @screen-sm) {
    .make-columns(@suffix: ~"sm");
    .make-offset(@suffix: ~"sm");
  }

  // Columns & offsets from medium screen (desktops and wider)
  @media (min-width: @screen-md) {
    .make-columns(@suffix: ~"md");
    .make-offset(@suffix: ~"md");
  }

  // Columns & offsets from large screen (wide desktops)
  @media (min-width: @screen-lg) {
    .make-columns(@suffix: ~"lg");
    .make-offset(@suffix: ~"lg");
  }
}

.col_inner {
  padding: 0 @grid-baseline;
}

// Style reset for offset
//[class*=offset] {
//  width: auto;
//  float: none;
//}
