&_3d-rotation:before {
  content: "\f000";
}
&_accessibility:before {
  content: "\f001";
}
&_account-balance:before {
  content: "\f002";
}
&_account-balance-wallet:before {
  content: "\f003";
}
&_account-box:before {
  content: "\f004";
}
&_account-child:before {
  content: "\f005";
}
&_account-circle:before {
  content: "\f006";
}
&_add-shopping-cart:before {
  content: "\f007";
}
&_alarm:before {
  content: "\f008";
}
&_alarm-add:before {
  content: "\f009";
}
&_alarm-off:before {
  content: "\f00a";
}
&_alarm-on:before {
  content: "\f00b";
}
&_android:before {
  content: "\f00c";
}
&_announcement:before {
  content: "\f00d";
}
&_aspect-ratio:before {
  content: "\f00e";
}
&_assessment:before {
  content: "\f00f";
}
&_assignment:before {
  content: "\f010";
}
&_assignment-ind:before {
  content: "\f011";
}
&_assignment-late:before {
  content: "\f012";
}
&_assignment-return:before {
  content: "\f013";
}
&_assignment-returned:before {
  content: "\f014";
}
&_assignment-turned-in:before {
  content: "\f015";
}
&_autorenew:before {
  content: "\f016";
}
&_backup:before {
  content: "\f017";
}
&_book:before {
  content: "\f018";
}
&_bookmark:before {
  content: "\f019";
}
&_bookmark-outline:before {
  content: "\f01a";
}
&_bug-report:before {
  content: "\f01b";
}
&_cached:before {
  content: "\f01c";
}
&_class:before {
  content: "\f01d";
}
&_credit-card:before {
  content: "\f01e";
}
&_dashboard:before {
  content: "\f01f";
}
&_delete:before {
  content: "\f020";
}
&_description:before {
  content: "\f021";
}
&_dns:before {
  content: "\f022";
}
&_done:before {
  content: "\f023";
}
&_done-all:before {
  content: "\f024";
}
&_event:before {
  content: "\f025";
}
&_exit-to-app:before {
  content: "\f026";
}
&_explore:before {
  content: "\f027";
}
&_extension:before {
  content: "\f028";
}
&_face-unlock:before {
  content: "\f029";
}
&_favorite:before {
  content: "\f02a";
}
&_favorite-outline:before {
  content: "\f02b";
}
&_find-in-page:before {
  content: "\f02c";
}
&_find-replace:before {
  content: "\f02d";
}
&_flip-to-back:before {
  content: "\f02e";
}
&_flip-to-front:before {
  content: "\f02f";
}
&_get-app:before {
  content: "\f030";
}
&_grade:before {
  content: "\f031";
}
&_group-work:before {
  content: "\f032";
}
&_help:before {
  content: "\f033";
}
&_highlight-remove:before {
  content: "\f034";
}
&_history:before {
  content: "\f035";
}
&_home:before {
  content: "\f036";
}
&_https:before {
  content: "\f037";
}
&_info:before {
  content: "\f038";
}
&_info-outline:before {
  content: "\f039";
}
&_input:before {
  content: "\f03a";
}
&_invert-colors:before {
  content: "\f03b";
}
&_label:before {
  content: "\f03c";
}
&_label-outline:before {
  content: "\f03d";
}
&_language:before {
  content: "\f03e";
}
&_launch:before {
  content: "\f03f";
}
&_list:before {
  content: "\f040";
}
&_lock:before {
  content: "\f041";
}
&_lock-open:before {
  content: "\f042";
}
&_lock-outline:before {
  content: "\f043";
}
&_loyalty:before {
  content: "\f044";
}
&_markunread-mailbox:before {
  content: "\f045";
}
&_note-add:before {
  content: "\f046";
}
&_open-in-browser:before {
  content: "\f047";
}
&_open-in-new:before {
  content: "\f048";
}
&_open-with:before {
  content: "\f049";
}
&_pageview:before {
  content: "\f04a";
}
&_payment:before {
  content: "\f04b";
}
&_perm-camera-mic:before {
  content: "\f04c";
}
&_perm-contact-cal:before {
  content: "\f04d";
}
&_perm-data-setting:before {
  content: "\f04e";
}
&_perm-device-info:before {
  content: "\f04f";
}
&_perm-identity:before {
  content: "\f050";
}
&_perm-media:before {
  content: "\f051";
}
&_perm-phone-msg:before {
  content: "\f052";
}
&_perm-scan-wifi:before {
  content: "\f053";
}
&_picture-in-picture:before {
  content: "\f054";
}
&_polymer:before {
  content: "\f055";
}
&_print:before {
  content: "\f056";
}
&_query-builder:before {
  content: "\f057";
}
&_question-answer:before {
  content: "\f058";
}
&_receipt:before {
  content: "\f059";
}
&_redeem:before {
  content: "\f05a";
}
&_report-problem:before {
  content: "\f05b";
}
&_restore:before {
  content: "\f05c";
}
&_room:before {
  content: "\f05d";
}
&_schedule:before {
  content: "\f05e";
}
&_search:before {
  content: "\f05f";
}
&_settings:before {
  content: "\f060";
}
&_settings-applications:before {
  content: "\f061";
}
&_settings-backup-restore:before {
  content: "\f062";
}
&_settings-bluetooth:before {
  content: "\f063";
}
&_settings-cell:before {
  content: "\f064";
}
&_settings-display:before {
  content: "\f065";
}
&_settings-ethernet:before {
  content: "\f066";
}
&_settings-input-antenna:before {
  content: "\f067";
}
&_settings-input-component:before {
  content: "\f068";
}
&_settings-input-composite:before {
  content: "\f069";
}
&_settings-input-hdmi:before {
  content: "\f06a";
}
&_settings-input-svideo:before {
  content: "\f06b";
}
&_settings-overscan:before {
  content: "\f06c";
}
&_settings-phone:before {
  content: "\f06d";
}
&_settings-power:before {
  content: "\f06e";
}
&_settings-remote:before {
  content: "\f06f";
}
&_settings-voice:before {
  content: "\f070";
}
&_shop:before {
  content: "\f071";
}
&_shopping-basket:before {
  content: "\f072";
}
&_shopping-cart:before {
  content: "\f073";
}
&_shop-two:before {
  content: "\f074";
}
&_speaker-notes:before {
  content: "\f075";
}
&_spellcheck:before {
  content: "\f076";
}
&_star-rate:before {
  content: "\f077";
}
&_stars:before {
  content: "\f078";
}
&_store:before {
  content: "\f079";
}
&_subject:before {
  content: "\f07a";
}
&_swap-horiz:before {
  content: "\f07b";
}
&_swap-vert:before {
  content: "\f07c";
}
&_swap-vert-circle:before {
  content: "\f07d";
}
&_system-update-tv:before {
  content: "\f07e";
}
&_tab:before {
  content: "\f07f";
}
&_tab-unselected:before {
  content: "\f080";
}
&_theaters:before {
  content: "\f081";
}
&_thumb-down:before {
  content: "\f082";
}
&_thumbs-up-down:before {
  content: "\f083";
}
&_thumb-up:before {
  content: "\f084";
}
&_toc:before {
  content: "\f085";
}
&_today:before {
  content: "\f086";
}
&_track-changes:before {
  content: "\f087";
}
&_translate:before {
  content: "\f088";
}
&_trending-down:before {
  content: "\f089";
}
&_trending-neutral:before {
  content: "\f08a";
}
&_trending-up:before {
  content: "\f08b";
}
&_turned-in:before {
  content: "\f08c";
}
&_turned-in-not:before {
  content: "\f08d";
}
&_verified-user:before {
  content: "\f08e";
}
&_view-agenda:before {
  content: "\f08f";
}
&_view-array:before {
  content: "\f090";
}
&_view-carousel:before {
  content: "\f091";
}
&_view-column:before {
  content: "\f092";
}
&_view-day:before {
  content: "\f093";
}
&_view-headline:before {
  content: "\f094";
}
&_view-list:before {
  content: "\f095";
}
&_view-module:before {
  content: "\f096";
}
&_view-quilt:before {
  content: "\f097";
}
&_view-stream:before {
  content: "\f098";
}
&_view-week:before {
  content: "\f099";
}
&_visibility:before {
  content: "\f09a";
}
&_visibility-off:before {
  content: "\f09b";
}
&_wallet-giftcard:before {
  content: "\f09c";
}
&_wallet-membership:before {
  content: "\f09d";
}
&_wallet-travel:before {
  content: "\f09e";
}
&_work:before {
  content: "\f09f";
}