&__business:before {
  content: "\f0d4";
}
&__call:before {
  content: "\f0d5";
}
&__call-end:before {
  content: "\f0d6";
}
&__call-made:before {
  content: "\f0d7";
}
&__call-merge:before {
  content: "\f0d8";
}
&__call-missed:before {
  content: "\f0d9";
}
&__call-received:before {
  content: "\f0da";
}
&__call-split:before {
  content: "\f0db";
}
&__chat:before {
  content: "\f0dc";
}
&__clear-all:before {
  content: "\f0dd";
}
&__comment:before {
  content: "\f0de";
}
&__contacts:before {
  content: "\f0df";
}
&__dialer-sip:before {
  content: "\f0e0";
}
&__dialpad:before {
  content: "\f0e1";
}
&__dnd-on:before {
  content: "\f0e2";
}
&__email:before {
  content: "\f0e3";
}
&__forum:before {
  content: "\f0e4";
}
&__import-export:before {
  content: "\f0e5";
}
&__invert-colors-off:before {
  content: "\f0e6";
}
&__invert-colors-on:before {
  content: "\f0e7";
}
&__live-help:before {
  content: "\f0e8";
}
&__location-off:before {
  content: "\f0e9";
}
&__location-on:before {
  content: "\f0ea";
}
&__message:before {
  content: "\f0eb";
}
&__messenger:before {
  content: "\f0ec";
}
&__no-sim:before {
  content: "\f0ed";
}
&__phone:before {
  content: "\f0ee";
}
&__portable-wifi-off:before {
  content: "\f0ef";
}
&__quick-contacts-dialer:before {
  content: "\f0f0";
}
&__quick-contacts-mail:before {
  content: "\f0f1";
}
&__ring-volume:before {
  content: "\f0f2";
}
&__stay-current-landscape:before {
  content: "\f0f3";
}
&__stay-current-portrait:before {
  content: "\f0f4";
}
&__stay-primary-landscape:before {
  content: "\f0f5";
}
&__stay-primary-portrait:before {
  content: "\f0f6";
}
&__swap-calls:before {
  content: "\f0f7";
}
&__textsms:before {
  content: "\f0f8";
}
&__voicemail:before {
  content: "\f0f9";
}
&__vpn-key:before {
  content: "\f0fa";
}