.icon_access-alarm:before {
  content: "\f11d";
}
.icon_access-alarms:before {
  content: "\f11e";
}
.icon_access-time:before {
  content: "\f11f";
}
.icon_add-alarm:before {
  content: "\f120";
}
.icon_airplanemode-off:before {
  content: "\f121";
}
.icon_airplanemode-on:before {
  content: "\f122";
}
.icon_battery-20:before {
  content: "\f123";
}
.icon_battery-30:before {
  content: "\f124";
}
.icon_battery-50:before {
  content: "\f125";
}
.icon_battery-60:before {
  content: "\f126";
}
.icon_battery-80:before {
  content: "\f127";
}
.icon_battery-90:before {
  content: "\f128";
}
.icon_battery-alert:before {
  content: "\f129";
}
.icon_battery-charging-20:before {
  content: "\f12a";
}
.icon_battery-charging-30:before {
  content: "\f12b";
}
.icon_battery-charging-50:before {
  content: "\f12c";
}
.icon_battery-charging-60:before {
  content: "\f12d";
}
.icon_battery-charging-80:before {
  content: "\f12e";
}
.icon_battery-charging-90:before {
  content: "\f12f";
}
.icon_battery-charging-full:before {
  content: "\f130";
}
.icon_battery-full:before {
  content: "\f131";
}
.icon_battery-std:before {
  content: "\f132";
}
.icon_battery-unknown:before {
  content: "\f133";
}
.icon_bluetooth:before {
  content: "\f134";
}
.icon_bluetooth-connected:before {
  content: "\f135";
}
.icon_bluetooth-disabled:before {
  content: "\f136";
}
.icon_bluetooth-searching:before {
  content: "\f137";
}
.icon_brightness-auto:before {
  content: "\f138";
}
.icon_brightness-high:before {
  content: "\f139";
}
.icon_brightness-low:before {
  content: "\f13a";
}
.icon_brightness-medium:before {
  content: "\f13b";
}
.icon_data-usage:before {
  content: "\f13c";
}
.icon_developer-mode:before {
  content: "\f13d";
}
.icon_devices:before {
  content: "\f13e";
}
.icon_dvr:before {
  content: "\f13f";
}
.icon_gps-fixed:before {
  content: "\f140";
}
.icon_gps-not-fixed:before {
  content: "\f141";
}
.icon_gps-off:before {
  content: "\f142";
}
.icon_location-disabled:before {
  content: "\f143";
}
.icon_location-searching:before {
  content: "\f144";
}
.icon_multitrack-audio:before {
  content: "\f145";
}
.icon_network-cell:before {
  content: "\f146";
}
.icon_network-wifi:before {
  content: "\f147";
}
.icon_nfc:before {
  content: "\f148";
}
.icon_now-wallpaper:before {
  content: "\f149";
}
.icon_now-widgets:before {
  content: "\f14a";
}
.icon_screen-lock-landscape:before {
  content: "\f14b";
}
.icon_screen-lock-portrait:before {
  content: "\f14c";
}
.icon_screen-lock-rotation:before {
  content: "\f14d";
}
.icon_screen-rotation:before {
  content: "\f14e";
}
.icon_sd-storage:before {
  content: "\f14f";
}
.icon_settings-system-daydream:before {
  content: "\f150";
}
.icon_signal-cellular-0-bar:before {
  content: "\f151";
}
.icon_signal-cellular-1-bar:before {
  content: "\f152";
}
.icon_signal-cellular-2-bar:before {
  content: "\f153";
}
.icon_signal-cellular-3-bar:before {
  content: "\f154";
}
.icon_signal-cellular-4-bar:before {
  content: "\f155";
}
.icon_signal-cellular-connected-no-internet-0-bar:before {
  content: "\f156";
}
.icon_signal-cellular-connected-no-internet-1-bar:before {
  content: "\f157";
}
.icon_signal-cellular-connected-no-internet-2-bar:before {
  content: "\f158";
}
.icon_signal-cellular-connected-no-internet-3-bar:before {
  content: "\f159";
}
.icon_signal-cellular-connected-no-internet-4-bar:before {
  content: "\f15a";
}
.icon_signal-cellular-no-sim:before {
  content: "\f15b";
}
.icon_signal-cellular-null:before {
  content: "\f15c";
}
.icon_signal-cellular-off:before {
  content: "\f15d";
}
.icon_signal-wifi-0-bar:before {
  content: "\f15e";
}
.icon_signal-wifi-1-bar:before {
  content: "\f15f";
}
.icon_signal-wifi-2-bar:before {
  content: "\f160";
}
.icon_signal-wifi-3-bar:before {
  content: "\f161";
}
.icon_signal-wifi-4-bar:before {
  content: "\f162";
}
.icon_signal-wifi-off:before {
  content: "\f163";
}
.icon_storage:before {
  content: "\f164";
}
.icon_usb:before {
  content: "\f165";
}
.icon_wifi-lock:before {
  content: "\f166";
}
.icon_wifi-tethering:before {
  content: "\f167";
}