&__beenhere:before {
  content: "\f25b";
}
&__directions:before {
  content: "\f25c";
}
&__directions-bike:before {
  content: "\f25d";
}
&__directions-bus:before {
  content: "\f25e";
}
&__directions-car:before {
  content: "\f25f";
}
&__directions-ferry:before {
  content: "\f260";
}
&__directions-subway:before {
  content: "\f261";
}
&__directions-train:before {
  content: "\f262";
}
&__directions-transit:before {
  content: "\f263";
}
&__directions-walk:before {
  content: "\f264";
}
&__flight:before {
  content: "\f265";
}
&__hotel:before {
  content: "\f266";
}
&__layers:before {
  content: "\f267";
}
&__layers-clear:before {
  content: "\f268";
}
&__local-airport:before {
  content: "\f269";
}
&__local-atm:before {
  content: "\f26a";
}
&__local-attraction:before {
  content: "\f26b";
}
&__local-bar:before {
  content: "\f26c";
}
&__local-cafe:before {
  content: "\f26d";
}
&__local-car-wash:before {
  content: "\f26e";
}
&__local-convenience-store:before {
  content: "\f26f";
}
&__local-drink:before {
  content: "\f270";
}
&__local-florist:before {
  content: "\f271";
}
&__local-gas-station:before {
  content: "\f272";
}
&__local-grocery-store:before {
  content: "\f273";
}
&__local-hospital:before {
  content: "\f274";
}
&__local-hotel:before {
  content: "\f275";
}
&__local-laundry-service:before {
  content: "\f276";
}
&__local-library:before {
  content: "\f277";
}
&__local-mall:before {
  content: "\f278";
}
&__local-movies:before {
  content: "\f279";
}
&__local-offer:before {
  content: "\f27a";
}
&__local-parking:before {
  content: "\f27b";
}
&__local-pharmacy:before {
  content: "\f27c";
}
&__local-phone:before {
  content: "\f27d";
}
&__local-pizza:before {
  content: "\f27e";
}
&__local-play:before {
  content: "\f27f";
}
&__local-post-office:before {
  content: "\f280";
}
&__local-print-shop:before {
  content: "\f281";
}
&__local-restaurant:before {
  content: "\f282";
}
&__local-see:before {
  content: "\f283";
}
&__local-shipping:before {
  content: "\f284";
}
&__local-taxi:before {
  content: "\f285";
}
&__location-history:before {
  content: "\f286";
}
&__map:before {
  content: "\f287";
}
&__my-location:before {
  content: "\f288";
}
&__navigation:before {
  content: "\f289";
}
&__pin-drop:before {
  content: "\f28a";
}
&__place:before {
  content: "\f28b";
}
&__rate-review:before {
  content: "\f28c";
}
&__restaurant-menu:before {
  content: "\f28d";
}
&__satellite:before {
  content: "\f28e";
}
&__store-mall-directory:before {
  content: "\f28f";
}
&__terrain:before {
  content: "\f290";
}
&__traffic:before {
  content: "\f291";
}