&__adb:before {
  content: "\f2a7";
}
&__bluetooth-audio:before {
  content: "\f2a8";
}
&__disc-full:before {
  content: "\f2a9";
}
&__dnd-forwardslash:before {
  content: "\f2aa";
}
&__do-not-disturb:before {
  content: "\f2ab";
}
&__drive-eta:before {
  content: "\f2ac";
}
&__event-available:before {
  content: "\f2ad";
}
&__event-busy:before {
  content: "\f2ae";
}
&__event-note:before {
  content: "\f2af";
}
&__folder-special:before {
  content: "\f2b0";
}
&__mms:before {
  content: "\f2b1";
}
&__more:before {
  content: "\f2b2";
}
&__network-locked:before {
  content: "\f2b3";
}
&__phone-bluetooth-speaker:before {
  content: "\f2b4";
}
&__phone-forwarded:before {
  content: "\f2b5";
}
&__phone-in-talk:before {
  content: "\f2b6";
}
&__phone-locked:before {
  content: "\f2b7";
}
&__phone-missed:before {
  content: "\f2b8";
}
&__phone-paused:before {
  content: "\f2b9";
}
&__play-download:before {
  content: "\f2ba";
}
&__play-install:before {
  content: "\f2bb";
}
&__sd-card:before {
  content: "\f2bc";
}
&__sim-card-alert:before {
  content: "\f2bd";
}
&__sms:before {
  content: "\f2be";
}
&__sms-failed:before {
  content: "\f2bf";
}
&__sync:before {
  content: "\f2c0";
}
&__sync-disabled:before {
  content: "\f2c1";
}
&__sync-problem:before {
  content: "\f2c2";
}
&__system-update:before {
  content: "\f2c3";
}
&__tap-and-play:before {
  content: "\f2c4";
}
&__time-to-leave:before {
  content: "\f2c5";
}
&__vibration:before {
  content: "\f2c6";
}
&__voice-chat:before {
  content: "\f2c7";
}
&__vpn-lock:before {
  content: "\f2c8";
}