&__check-box:before {
  content: "\f2e1";
}
&__check-box-outline-blank:before {
  content: "\f2e2";
}
&__radio-button-off:before {
  content: "\f2e3";
}
&__radio-button-on:before {
  content: "\f2e4";
}
&__star:before {
  content: "\f2e5";
}
&__star-half:before {
  content: "\f2e6";
}
&__star-outline:before {
  content: "\f2e7";
}