// Component:       Accordion
// Description:     Collapsible content panels
//
// Block:           `accordion`
//
// Elements:        `accordion__item`
//                  `accordion__item__heading`
//                  `accordion__item__trigger`
//                  `accordion__item__content`
//
// Uses:            Button, Group
//
// Markup:
// <div class="accordion group">
//   <div class="accordion__item">
//     <label class="accordion__item__heading btn" for="accordion__item-1">Panel 1</label>
//     <input id="accordion__item-1" class="accordion__trigger" name="accordion__trigger" type="radio" />
//     <div class="accordion__item__content">
//       ...
//     </div>
//   </div>
// ...
// </div>
//
// ========================================================================

/* ACCORDION
   ==================================== */
.accordion {

	// Heading
	&__heading {
		margin: 0;
		display: block;
		position: relative;
		z-index: 1;
	}

	// Content
	&__content {
		// Hide item content by default
		display: none;
		padding: @font-line-height/2;
		background: @white;
		.z-depth-1;
		.lh-border-radius(@input-radius);
	}

	// Hide checkboxes and radio-buttons
	&__trigger {
		display: none;

		// Show item content when trigger is checked
		&:checked + .accordion__content {
			display: block;
		}
	}

}
