// Block:           Card
// Description:     Defines styles for information messages
//
// Component:       'card'
//
// Elements:        'card_header'
//                  'card_content'
//
// Modifiers:       'card-primary'
//                  'card-secondary'
//                  'card-black'
//                  'card-tile'
//
// Markup:
//
// <div class="card">
//     <div class="card_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia autem iusto eos doloribus repellat a nam labore. Quae, explicabo accusamus beatae dignissimos aliquid molestiae asperiores! Ipsam, at animi deserunt quos!</div>
// </div>
//
// <div class="card card-primary">
//     <div class="card_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia autem iusto eos doloribus repellat a nam labore. Quae, explicabo accusamus beatae dignissimos aliquid molestiae asperiores! Ipsam, at animi deserunt quos!</div>
// </div>
//
// ========================================================================

/* Card
   ==================================== */
.card {
  margin: 0 0 @font-line-height;
  .card-gen(@white, @grey900);
  .lh-border-radius(@basic-radius);
  .z-depth-1;

  // Header
  &_header {
    position: relative;
    color: @white;

    // Heading in header
    .card_heading {
      position: absolute;
      bottom: @font-line-height;
      left: @font-line-height;
      right: @font-line-height;
      word-wrap: break-word;
    }
  }

  // Image
  &_img {
    margin: 0;
    width: 100%;
    .lh-border-top-left-radius(@basic-radius);
    .lh-border-top-right-radius(@basic-radius);
  }

  // Heading
  //&_heading {}

  // Content
  &_content {
    padding: @font-line-height;
  }

  // Left & Right side
  &[class*=left] {
    .card_img {
      .lh-border-top-right-radius(0);
      .lh-border-bottom-left-radius(@basic-radius);

    }
  }

  &[class*=right] {
    .card_header, .card_content {
      float: right;
    }

    .card_img {
      .lh-border-top-left-radius(0);
      .lh-border-bottom-right-radius(@basic-radius);
    }
  }

  // Colors

  &[class*=primary] {
    .card-gen(@primary, @white);
  }

  &[class*=secondary] {
    .card-gen(@secondary, @white);
  }

  &[class*=black] {
    .card-gen(@grey900, @white);
  }

  // Title
  &[class*=tile] {
    .lh-border-radius(0);
  }
}
