// Component:       Icons
// Description:     Material Design Icons by Google
//
// Block:           'icon'
//
// Elements:        'icon__icon-name'
//
// Markup:
// <i class="icon icon__icon-name"></i>
//
// ========================================================================

/* ICONS
   ==================================== */
// Set up iconic font
@font-face {
	font-family: 'Material Design Iconic Font';
	src: url('@{icon-font-path}/Material-Design-Iconic-Font.eot?v=@{icon-font-v}');
	src: url('@{icon-font-path}/Material-Design-Iconic-Font.eot?#iefix&v=@{icon-font-v}') format('embedded-opentype'),
	url('@{icon-font-path}/Material-Design-Iconic-Font.woff?v=@{icon-font-v}') format('woff'),
	url('@{icon-font-path}/Material-Design-Iconic-Font.ttf?v=@{icon-font-v}') format('truetype'),
	url('@{icon-font-path}/Material-Design-Iconic-Font.svg?v=@{icon-font-v}#Material-Design-Iconic-Font') format('svg');
	font-weight: normal;
	font-style: normal;
}

// Define styles for icons
.icon {
	vertical-align: top;
	font-style: normal;

	&:before {
		display: inline-block;
		font-family: 'Material Design Iconic Font';
		speak: none;
		text-rendering: auto;
		font-size: @font-line-height;
		vertical-align: top;

		// Better Font Rendering
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	// Include icons
	// Comment some lines if you don't need some icons
	@import "icons/actions.less";
	@import "icons/alert.less";
	@import "icons/audio-video.less";
	@import "icons/communication.less";
	@import "icons/content.less";
	@import "icons/device.less";
	@import "icons/editor.less";
	@import "icons/file.less";
	@import "icons/hardware.less";
	@import "icons/image.less";
	@import "icons/maps.less";
	@import "icons/navigation.less";
	@import "icons/notification.less";
	@import "icons/social.less";
	@import "icons/toggle.less";
}

// Menu with icons
.menu {
	// Default state
	&__parent > &__a:after {
		font-family: 'Material Design Iconic Font';
		content: " \f29e"; // Icon arrow down (.icon__expand-more)
	}

	&__ul .icon:before {
		margin-right: 8px;
	}

	@media (min-width: @screen-md) {
		// Default dropdown & vertical states
		&__ul--dropdown &__parent > &__a:after, &--vert &__parent > &__a:after {
			content: " \f29c" !important; // Icon arrow right (.icon__chevron-right)
		}

		// Droptop state
		&--droptop  {
			.menu__parent > .menu__a:after {
				content: " \f29d";  // Icon arrow top (.icon__expand-less)
			}
		}
	}
}
// FORMS
.form {
	&__checkbox, &__radio {
		display: none !important;

		& + span {
			display: inline-block;
			height: @font-line-height;
			vertical-align: top;

			&:before {
				font-family: 'Material Design Iconic Font';
				color: @grey900;
				speak: none;
				text-rendering: auto;
				font-size: @font-line-height;
				vertical-align: top;

				// Better Font Rendering
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;

				.lh-transition(~"color 0.15s ease");
			}
		}

		&:checked + span:before {color: @input-focus-color;}

		&[disabled], &--disabled {
			& + span {
				cursor: not-allowed;
				.lh-opacity(~"0.5");
			}
		}
	}

	&__checkbox {
		& + span:before {
			content: "\f2e2";
		}
		&:checked + span:before {
			content: "\f2e1";
		}
	}

	&__radio {
		& + span:before {
			content: "\f2e3";
		}
		&:checked + span:before {
			content: "\f2e4";
		}
	}
}