// Component:       Icons
// Description:     Material Design Icons by Google
//
// Block:           `icon`
//
// Elements:        `icon__icon-name`
//
// Markup:
// <i class="icon icon__icon-name"></i>
//
// ========================================================================

/* ICONS
   ==================================== */
// Set up iconic font
@font-face {
	font-family: 'Material Design Iconic Font';
	src: url('@{icon-font-path}/Material-Design-Iconic-Font.eot?v=@{icon-font-v}');
	src: url('@{icon-font-path}/Material-Design-Iconic-Font.eot?#iefix&v=@{icon-font-v}') format('embedded-opentype'),
	url('@{icon-font-path}/Material-Design-Iconic-Font.woff?v=@{icon-font-v}') format('woff'),
	url('@{icon-font-path}/Material-Design-Iconic-Font.ttf?v=@{icon-font-v}') format('truetype'),
	url('@{icon-font-path}/Material-Design-Iconic-Font.svg?v=@{icon-font-v}#Material-Design-Iconic-Font') format('svg');
	font-weight: normal;
	font-style: normal;
}

// Define styles for icons
.icon {
	vert-align: top;

	&:before {
		display: inline-block;
		font-family: 'Material Design Iconic Font';
		speak: none;
		text-rendering: auto;
		font-size: @font-line-height;
		vertical-align: top;

		// Better Font Rendering
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	// Include icons
	// Comment some lines if you don't need some icons
	@import "icons/actions.less";
	@import "icons/alert.less";
	@import "icons/audio-video.less";
	@import "icons/communication.less";
	@import "icons/content.less";
	@import "icons/device.less";
	@import "icons/editor.less";
	@import "icons/file.less";
	@import "icons/hardware.less";
	@import "icons/image.less";
	@import "icons/maps.less";
	@import "icons/navigation.less";
	@import "icons/notification.less";
	@import "icons/social.less";
	@import "icons/toggle.less";
}

//// Menu with icons
//.menu {
//	ul {
//		li.menu-parent > a:after {font-family: 'zenit'; content: " \e630";}
//		ul li.menu-parent > a:after, &.vertical li.menu-parent > a:after {content: " \e62e";}
//	}
//
//	&.@{dir-vertical} { li.menu-parent > a:after {font-family: 'zenit'; content: " \e62e";} }
//
//	&.droptop, &.fixed-bottom {
//		li.menu-parent > a:after {content: " \e62c" !important;}
//		ul ul li.menu-parent > a:after {content: " \e62e" !important;}
//	}
//
//	a[class*="icon"]:before {
//		margin-right: 5px;
//	}
//}
//
//// FORMS
//form {
//	.checkbox, .radio {
//		display: none !important;
//
//		& + span {
//			display: inline-block;
//			height: @font-line-height;
//			vertical-align: top;
//
//			&:before {
//				font-family: 'zenit';
//				font-size: @font-size;
//				color: @black;
//				-webkit-font-smoothing: antialiased;
//				-moz-osx-font-smoothing: grayscale;
//
//				.lh-transition(~"color 0.15s ease");
//			}
//		}
//
//		&:checked + span:before {color: @input-focus-color;}
//	}
//
//	.checkbox {
//		& + span {.icon-checkbox-unchecked;}
//		&:checked + span {.icon-checkbox-checked;}
//
//		&.partial:checked + span {.icon-checkbox-partial;}
//	}
//
//	.radio {
//		& + span {.icon-radio-unchecked;}
//		&:checked + span {.icon-radio-checked;}
//	}
//}