.icon_album:before {
  content: "\f0a2";
}
.icon_av-timer:before {
  content: "\f0a3";
}
.icon_closed-caption:before {
  content: "\f0a4";
}
.icon_equalizer:before {
  content: "\f0a5";
}
.icon_explicit:before {
  content: "\f0a6";
}
.icon_fast-forward:before {
  content: "\f0a7";
}
.icon_fast-rewind:before {
  content: "\f0a8";
}
.icon_games:before {
  content: "\f0a9";
}
.icon_hearing:before {
  content: "\f0aa";
}
.icon_high-quality:before {
  content: "\f0ab";
}
.icon_loop:before {
  content: "\f0ac";
}
.icon_mic:before {
  content: "\f0ad";
}
.icon_mic-none:before {
  content: "\f0ae";
}
.icon_mic-off:before {
  content: "\f0af";
}
.icon_movie:before {
  content: "\f0b0";
}
.icon_my-library-add:before {
  content: "\f0b1";
}
.icon_my-library-books:before {
  content: "\f0b2";
}
.icon_my-library-music:before {
  content: "\f0b3";
}
.icon_new-releases:before {
  content: "\f0b4";
}
.icon_not-interested:before {
  content: "\f0b5";
}
.icon_pause:before {
  content: "\f0b6";
}
.icon_pause-circle-fill:before {
  content: "\f0b7";
}
.icon_pause-circle-outline:before {
  content: "\f0b8";
}
.icon_play-arrow:before {
  content: "\f0b9";
}
.icon_play-circle-fill:before {
  content: "\f0ba";
}
.icon_play-circle-outline:before {
  content: "\f0bb";
}
.icon_playlist-add:before {
  content: "\f0bc";
}
.icon_play-shopping-bag:before {
  content: "\f0bd";
}
.icon_queue:before {
  content: "\f0be";
}
.icon_queue-music:before {
  content: "\f0bf";
}
.icon_radio:before {
  content: "\f0c0";
}
.icon_recent-actors:before {
  content: "\f0c1";
}
.icon_repeat:before {
  content: "\f0c2";
}
.icon_repeat-one:before {
  content: "\f0c3";
}
.icon_replay:before {
  content: "\f0c4";
}
.icon_shuffle:before {
  content: "\f0c5";
}
.icon_skip-next:before {
  content: "\f0c6";
}
.icon_skip-previous:before {
  content: "\f0c7";
}
.icon_snooze:before {
  content: "\f0c8";
}
.icon_stop:before {
  content: "\f0c9";
}
.icon_subtitles:before {
  content: "\f0ca";
}
.icon_surround-sound:before {
  content: "\f0cb";
}
.icon_videocam:before {
  content: "\f0cc";
}
.icon_videocam-off:before {
  content: "\f0cd";
}
.icon_video-collection:before {
  content: "\f0ce";
}
.icon_volume-down:before {
  content: "\f0cf";
}
.icon_volume-mute:before {
  content: "\f0d0";
}
.icon_volume-off:before {
  content: "\f0d1";
}
.icon_volume-up:before {
  content: "\f0d2";
}
.icon_web:before {
  content: "\f0d3";
}