.icon_apps:before {
  content: "\f292";
}
.icon_cancel:before {
  content: "\f293";
}
.icon_arrow-drop-down-circle:before {
  content: "\f294";
}
.icon_arrow-drop-down:before {
  content: "\f295";
}
.icon_arrow-drop-up:before {
  content: "\f296";
}
.icon_arrow-back:before {
  content: "\f297";
}
.icon_arrow-forward:before {
  content: "\f298";
}
.icon_check:before {
  content: "\f299";
}
.icon_close:before {
  content: "\f29a";
}
.icon_chevron-left:before {
  content: "\f29b";
}
.icon_chevron-right:before {
  content: "\f29c";
}
.icon_expand-less:before {
  content: "\f29d";
}
.icon_expand-more:before {
  content: "\f29e";
}
.icon_fullscreen:before {
  content: "\f29f";
}
.icon_fullscreen-exit:before {
  content: "\f2a0";
}
.icon_menu:before {
  content: "\f2a1";
}
.icon_more-horiz:before {
  content: "\f2a2";
}
.icon_more-vert:before {
  content: "\f2a3";
}
.icon_refresh:before {
  content: "\f2a4";
}
.icon_unfold-less:before {
  content: "\f2a5";
}
.icon_unfold-more:before {
  content: "\f2a6";
}